@model List<patata.Models.User>

@{
	ViewBag.Title = "Home Page";
}

<div>

	<div class="row" style="height: 100%; width: 100%; margin-top: 2%">
		<div class="col-md-1"></div>
		<div class="col-md-3" style="height: 100%; background-color: grey">
			<h3>
				Usuarios en Linea
			</h3>
			@Html.Action("Index", "Account")
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-7" style="height: 100%">
			<div style="width: 100%">
				<h2 style="text-align: center">
					Ultimos Posts
				</h2>
			</div>
			@Html.Action("ultimosPosts", "Home")
		</div>
		<div class="col-md-1"></div>
	</div>
</div>