
@{
	ViewBag.Title = "Publicar";
}


<div class="row" style="min-height: 100%">

	<div class="col-md-1"></div>

	<div class="col-md-10" style="min-height: 100%">

		@using (Html.BeginForm("Publicar", "Home", FormMethod.Post, new { style = "height: 100%;" }))
		{
			<input type="text" placeholder="Titulo" name="Titulo" style="height: 20%"/>

			<input type="text" placeholder="Texto" name="Texto"  style="height: 70%"/>

			<input type="submit" value="Publicar" />
		}

	</div>

	<div class="col-md-1"></div>

</div>

