

<h2>Borrar</h2>

<body>

<br />
<h3>¿Seguro que quieres borrarlo?</h3>
<br />
<input type="button" value="Borrar" onclick="location.href='@Url.Action("borrarAction", "Perfil", Model)'"/>
<input type="button" value="Cancelar" onclick="location.href='@Url.Action("Index", "App")'" />
</body>
