@model mvclogin.Models.User

@{
    ViewBag.Title = "editar";
}

<h2>Editar</h2>



<div>

	@using (Html.BeginForm("loginAction", "Perfil", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<p>
			Usuario: @Html.EditorFor(model => model.nombreUsuario)
		</p>

		<p>
			Contraseña: @Html.PasswordFor(model => model.contraseña)
		</p>

		<input type="submit" value="log in" />
	}

</div>


