@model mvclogin.Models.User

@{
	ViewBag.Title = "loginPage";
}

<h2>Login</h2>


<div>
	@if (ViewBag.error != null)
	{
		if (ViewBag.error == "incorrect")
		{
			<h2 style="color: red">* Nombre de usuario o contraseña incorrectos *</h2>
		}
	}

	@using (Html.BeginForm("loginAction", "Perfil", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<p>
			Usuario: @Html.EditorFor(model => model.nombreUsuario)
		</p>

		<p>
			Contraseña: @Html.PasswordFor(model => model.contraseña)
		</p>

		<input type="submit" value="log in" />
	}
	@Html.ActionLink("Create una cuenta", "Register")

</div>
