
@{
    ViewBag.Title = "logout";
}

<h2>¿Seguro que quieres cerrar la sesion?</h2>

<button onclick='@Html.Action("logoutAction")' style="display: inline-block" />
<button onclick='@Html.Action("backToApp")' style="display: inline-block" />



