
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>

	<ul>

		<li>
			@Html.ActionLink("Editar", "editar", "perfil")
		</li>

		<li>
			@Html.ActionLink("Borrar", "borrar", "perfil")
		</li>

		<li>
			@Html.ActionLink("Registrar", "registrar", "perfil")
		</li>

		<li>
			@Html.ActionLink("Logear", "loginPage", "perfil")
		</li>

	</ul>

</body>

