
@{
    ViewBag.Title = "Registrarse";
}

<h2>Registrarse</h2>

<p style="color: red">
	@Html.Raw(ViewBag.Error)
</p>


@using (Html.BeginForm("RegistrarseAction", "Perfil"))
{
	<p>
		Nombre de Usuario:
		<input type="text" maxlength="20" name="username" value="" />
	</p>

	<p>
		Contraseña:
		<input type="password" maxlength="20" name="password" value="" />
	</p>

	<p>
		Repite contraseña:
		<input type="password" maxlength="20" name="passwordrepeat" value="" />
	</p>

	<input type="submit" />
}

@Html.ActionLink("Iniciar sesion", "LogIn", "Perfil")