
@{
	ViewBag.Title = "Index3";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index3</title>
</head>


<body>


	<div>

		<ul>
			<li>
				 <input type="number" name="nuevoPersonID"/>
			</li>
			<li>
				<input type="text" name="nuevoStoreID" />
			</li>
			<li>
				<input type="text" name="nuevoTerritoryID" />
			</li>
			<li>
				<input type="text" name="nuevoAccountNumber" />
			</li>
			<li>
				<input type="text" name="nuevoPersonID" />
			</li>
		</ul>

	</div>


</body>


</html>
