@model Gaia.Donosti.MVC4.Models.Customer


<!DOCTYPE html>

<html>


<body>

	@using (Html.BeginForm())
	{
		@Html.TextBox("Name");
		@Html.TextBox("Patata");
		<input type="submit" value="Sign in" />
	}


</body>


</html>
