@{
    ViewBag.Title = "Home Page";
}



<div>
	<h2>Anunciolandia</h2>
	<br/>

	<ul>
		<li>
			@Html.ActionLink("Iniciar sesion", "LogIn", "Perfil")
		</li>
		<li>
			@Html.ActionLink("Registrarse", "Registrarse", "Perfil")
		</li>
	</ul>



</div>



