


<h2>Test</h2>

<p>
	test cookies:<br />
</p>
<ul>
	@foreach (var item in Request.Cookies.AllKeys)
	{
		<li>
			@Html.Raw(item) :  @Html.Raw(Request.Cookies[item].Value)
		</li>
	}
</ul>
<br />
<ul>
	@using (Html.BeginForm("TestAction", "Home"))
	{
		<li>
			Coockie:
			<input type="text" maxlength="20" name="cookie" value="" />
		</li>
		
		<li>
			<input type="submit" value="Delete Cookie" />
		</li>
	}
</ul>